a {
    text-decoration: none;
    border-radius: 12px;
}

a:hover {
    text-decoration: none;
    transition: transform 500ms ;
    transform: translateY(-2px) ;
    box-shadow: 0 10px 5px rgba(33,33,33,.2) ;
}

.required:before {
    content:"*";
    color:red;
}